@font-face {
  font-family: 'hite';
  src: url(../font/Harmony_M.ttf);
}

@font-face {
  font-family: 'hite-l';
  src: url(../font/Harmony_L.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-image: url(../../img/main_page/R.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 100;
}

nav {
  width: 100px;
  height: 100%;
  background-color: #ffc400;
  left: 90px;
  z-index: 10;
}

.nav-background {
  width: 100%;
}

.main-logo {
  width: 100px;
  height: 85px;
  position: relative;
  top: 10px;
}

.beer-logo {
  position: relative;
  width: 100px;
  height: 100px;
}

.c-beer-logo:hover {
  filter: opacity(1) drop-shadow(0 0 rgb(0, 0, 255));
}

.t-beer-logo:hover {
  filter: opacity(1) drop-shadow(0 0 rgb(0, 255, 0));
}

.st-beer-logo:hover {
  filter: opacity(1) drop-shadow(0 0 brown);
}

.g-beer-logo:hover {
  filter: opacity(1) drop-shadow(0 0 rgb(0, 255, 0));
}

.se-beer-logo:hover {
  filter: opacity(1) drop-shadow(0 0 rgb(255, 0, 0));
}

.h-beer-logo:hover {
  filter: opacity(1) drop-shadow(0 0 purple);
}

ul {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  width: calc(100vw - 200px);
  margin-left: 200px;
  position: relative;
}
section > img {
  width: 100%;
  height: 100%;
}

.banner-section {
  height: 36vw;
}
.info-section {
  height: 63vw;
}

.information {
  position: absolute;
  left: 910px;
  top: 1030px;
  font-size: 1.4rem;
  color: aliceblue;
  font-family: 'hite-l';
}

/* recommend section  */
.recommend-section {
  background-color: #28979d;
  height: 100vh;
}
.recommend-title {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 4rem;
  font-family: 'hite-l';
  font-weight: 900;
  color: aliceblue;
}

.recommend-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.recommend-icon-color {
  display: none;
  transition: 0.5s;
}

.recommend-item:hover .recommend-icon {
  display: none;
}

.recommend-item:hover .recommend-icon-color {
  display: block;
  transform: scale(1.1);
}

.recommend-name {
  text-align: center;
  font-size: 2.5rem;
  color: aliceblue;
}
