/* 맥주 파트에서 쓰일 스타일은 여기에~ */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
}

#wrap {
  margin: 0 auto;
  padding: 0 auto;
  width: 1400px;
  height: 2100px;
}

.main-logo {
  width: 100px;
  height: 85px;
  position: relative;
  left: -100px;
  top: 10px;
}

#beer-main-nav {
  position: absolute;
  top: 680px;
  left: 140px;
  width: 100%;
  height: 50px;
  background-color: white;
  line-height: 50px;
  box-shadow: 0 1px 0 rgb(0, 0, 0 /10%);
  z-index: 1;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15px;
}

#beer-main-nav div {
  margin: 0;
  width: 1000px;
}

#beer-main-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#beer-main-nav ul li {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  left: 170px;
}

#main-img {
  background-image: url(../img/main_page/R.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 2308px;
  position: absolute;
  left: -100px;
}

.beer-logo {
  position: relative;
  top: -90px;
  width: 100px;
  height: 100px;
}

.beer-logo:hover {
  opacity: 0.8;
}

/* cass css */
.cass-ul {
  list-style-type: none;
}

#cass-nav {
  width: 100px;
  height: 100%;
  background-color: #ffc400;
  position: fixed;
  left: 100px;
  z-index: 10;
}

#cass-main {
  position: relative;
  line-height: 45px;
}


.cass-banner-img {
  width: 100%;
  height: 800px;
  position: absolute;
  left: 240px;
  top: -100px;
}

.cass-inpormation-img {
  position: absolute;
  top: 700px;
  left: 240px;
  width: 100%;
  height: 1608px;
}

.cass-inpormation {
  position: absolute;
  left: 910px;
  top: 1050px;
  font-size: 1.5rem;
  color: aliceblue;
}

.cass-inpormation-text1 {
  margin: 30px;
  font-family: 'Nanum Myeongjo', serif;
}

.cass-beersize {
  padding-left: 90px;
}

.cass-another-font {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  color: rgb(255, 252, 252);
}

.cass-inpormation-text2 {
  position: absolute;
  top: 1550px;
  left: 350px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.sheep {
  position: absolute;
  top: 1700px;
  left: 350px;
  width: 300px;
}

.mektea {
  position: absolute;
  top: 1700px;
  left: 750px;
  width: 300px;
}

.chicken1 {
  position: absolute;
  top: 1700px;
  right: -55px;
  width: 300px;
  height: 300px;
}

.cass-food-text1 {
  position: absolute;
  top: 2040px;
  left: 415px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.cass-food-text2 {
  position: absolute;
  top: 2040px;
  left: 795px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.cass-food-text3 {
  position: absolute;
  top: 2040px;
  right: 55px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* seoul css */
.seoul-ul {
  list-style-type: none;
}

#seoul-nav {
  width: 100px;
  height: 1990px;
  background-color: #ffc400;
  position: fixed;
  z-index: 10;
}

#seoul-main {
  position: relative;
  line-height: 45px;
}

.seoul-banner-img {
  width: 100%;
  height: 800px;
  position: absolute;
  left: 240px;
  top: 0px;
}

.seoul-inpormation-img {
  position: absolute;
  top: 725px;
  left: 240px;
  width: 100%;
  height: 1583px;
}



.seoul-inpormation {
  position: absolute;
  left: 935px;
  top: 1000px;
  font-size: 1.5rem;
  color: aliceblue;
}

.seoul-inpormation-text1 {
  margin: 30px;
  font-family: 'Nanum Myeongjo', serif;
}

.seoul-another-font {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  color: rgb(255, 252, 252);
}

.seoul-inpormation-text2 {
  position: absolute;
  top: 1570px;
  left: 350px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.steak {
  position: absolute;
  top: 1710px;
  left: 350px;
  width: 300px;
  height: 300px;
}

.sausages {
  position: absolute;
  top: 1710px;
  left: 755px;
  width: 300px;
  height: 300px;
}

.emmental {
  position: absolute;
  top: 1710px;
  right: -50px;
  width: 300px;
  height: 300px;
}

.seoul-food-text1 {
  position: absolute;
  top: 2080px;
  left: 405px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.seoul-food-text2 {
  position: absolute;
  top: 2080px;
  left: 835px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.seoul-food-text3 {
  position: absolute;
  top: 2080px;
  right: -25px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* hangang css */
.hangang-ul {
  list-style-type: none;
}

#hangang-nav {
  width: 100px;
  height: 1990px;
  background-color: #ffc400;
  position: fixed;
  z-index: 10;
}

#hangang-main {
  position: relative;
  line-height: 45px;
}


.hangang-banner-img {
  position: absolute;
  left: 240px;
  width: 100%;
  height: 700px;
}

.hangang-inpormation-img {
  position: absolute;
  top: 730px;
  left: 240px;
  width: 100%;
  height: 1578px;
}

.hangang-inpormation {
  position: absolute;
  left: 850px;
  top: 950px;
  font-size: 1.5rem;
  color: aliceblue;
}

.hangang-inpormation-text1 {
  margin: 30px;
  font-family: 'Nanum Myeongjo', serif;
}

.hangang-another-font {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  color: rgb(255, 252, 252);
}

.hangang-inpormation-text2 {
  position: absolute;
  top: 1550px;
  left: 350px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.crab {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1700px;
  left: 350px;
}

.orange {
  position: absolute;
  top: 1700px;
  left: 750px;
  width: 300px;
}

.camembert {
  position: absolute;
  top: 1700px;
  right: -50px;
  width: 300px;
  height: 300px;
}

.hangang-food-text1 {
  position: absolute;
  top: 2040px;
  left: 420px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.hangang-food-text2 {
  position: absolute;
  top: 2040px;
  left: 755px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.hangang-food-text3 {
  position: absolute;
  top: 2040px;
  right: -46px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}


/* gompyo css */
.gompyo-ul {
  list-style-type: none;
}

#gompyo-nav {
  width: 100px;
  height: 1990px;
  background-color: #ffc400;
  position: fixed;
  z-index: 10;
}

#gompyo-main {
  position: relative;
  line-height: 45px;
}


.gompyo-banner-img {
  position: absolute;
  left: 240px;
  top: -10px;
  width: 100%;
  height: 865px;
}

.gompyo-inpormation-img {
  position: absolute;
  top: 700px;
  left: 240px;
  width: 100%;
  height: 1610px;
}

.gompyo-inpormation {
  position: absolute;
  left: 600px;
  top: 1130px;
  font-size: 1.5rem;
  color: aliceblue;
}

.gompyo-inpormation-text1 {
  margin: 30px;
  font-family: 'Nanum Myeongjo', serif;
  ;
}

.gompyo-another-font {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  color: rgb(255, 252, 252);
}

#beersize {
  padding-left: 90px;
}

.gompyo-inpormation-text2 {
  position: absolute;
  top: 1500px;
  left: 360px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.pasta {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1660px;
  left: 360px;
}

.어묵탕 {
  position: absolute;
  top: 1660px;
  left: 755px;
  width: 300px;
}

.shrimp {
  position: absolute;
  top: 1660px;
  right: -50px;
  width: 300px;
  height: 300px;
}

.gompyo-food-text1 {
  position: absolute;
  top: 2020px;
  left: 390px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.gompyo-food-text2 {
  position: absolute;
  top: 2020px;
  left: 835px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.gompyo-food-text3 {
  position: absolute;
  top: 2020px;
  right: 5px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* stout css */
.stout-ul {
  list-style-type: none;
}

#stout-nav {
  width: 100px;
  height: 1990px;
  background-color: #ffc400;
  position: fixed;
  z-index: 10;
}

#stout-main {
  position: relative;
  line-height: 45px;
}


.stout-banner-img {
  position: absolute;
  left: 230px;
  top: 0px;
  width: 100%;
  height: 700px;
}



.stout-inpormation-img {
  position: absolute;
  top: 720px;
  left: 130px;
  width: 100%;
  height: 1589px;
}

.stout-inpormation {
  position: absolute;
  left: 810px;
  top: 1020px;
  font-size: 1.5rem;
  color: aliceblue;
}

.stout-inpormation-text1 {
  margin: 30px;
  font-family: 'Nanum Myeongjo', serif;
}

.stout-another-font {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  color: rgb(255, 252, 252);
}

.stout-inpormation-text2 {
  position: absolute;
  top: 1470px;
  left: 300px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.chicken {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1630px;
  left: 345px;
}

.French-fries {
  position: absolute;
  top: 1630px;
  left: 745px;
  width: 300px;
}

.sheepp {
  position: absolute;
  top: 1630px;
  right: -50px;
  width: 300px;
  height: 300px;
}

.stout-food-text1 {
  position: absolute;
  top: 1980px;
  left: 445px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.stout-food-text2 {
  position: absolute;
  top: 1980px;
  left: 805px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.stout-food-text3 {
  position: absolute;
  top: 1980px;
  right: 30px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* TERRA css */
.terra-ul {
  list-style-type: none;
}

#terra-nav {
  width: 100px;
  height: 1990px;
  background-color: #ffc400;
  position: fixed;
  z-index: 10;
}

#terra-main {
  position: relative;
  line-height: 45px;
}


.terra-banner-img {
  position: absolute;
  left: 240px;
  width: 100%;
  height: 680px;
}

.terra-inpormation-img {
  position: absolute;
  top: 720px;
  left: 240px;
  width: 100%;
  height: 1595px;
}

.terra-inpormation {
  position: absolute;
  left: 900px;
  top: 1000px;
  font-size: 1.5rem;
  color: aliceblue;
}

.terra-inpormation-text1 {
  margin: 30px;
  font-family: 'Nanum Myeongjo', serif;
}

.terra-another-font {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  color: rgb(255, 252, 252);
}

.terra-inpormation-text2 {
  position: absolute;
  top: 1500px;
  left: 355px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.dried {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1660px;
  left: 355px;
}

.nachos {
  position: absolute;
  top: 1660px;
  left: 753px;
  width: 300px;
  height: 300px;
}

.fish {
  position: absolute;
  top: 1660px;
  right: -50px;
  width: 300px;
  height: 300px;
}

.terra-food-text1 {
  position: absolute;
  top: 2020px;
  left: 410px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.terra-food-text2 {
  position: absolute;
  top: 2020px;
  left: 850px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.terra-food-text3 {
  position: absolute;
  top: 2020px;
  right: 80px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}