/* 맥주 파트에서 쓰일 스타일은 여기에~ */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
}

#wrap {
  margin: 0;
  padding: 0;
  width: 1378px;
  height: 2100px;
}

.main-logo {
  width: 100px;
  height: 85px;
  position: relative;
  left: -100px;
  top: 10px;
}

#beer-main-nav {
  position: absolute;
  top: 580px;
  left: 140px;
  width: 100%;
  height: 50px;
  background-color: white;
  line-height: 50px;
  box-shadow: 0 1px 0 rgb(0, 0, 0 /10%);
  z-index: 1;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15px;
}

#beer-main-nav div {
  margin: 0;
  width: 1000px;
}

#beer-main-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#beer-main-nav ul li {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  left: 200px;
}

#beer-main-nav a {
  text-decoration: none;
  color: black;
}

#main-img {
  background-image: url(../img/main_page/R.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 2308px;
  position: absolute;
  left: -100px;
}

.beer-logo {
  position: relative;
  top: -90px;
  width: 100px;
  height: 100px;
}

.beer-logo:hover {
  opacity: 0.8;
}

ul {
  list-style-type: none;
}

nav {
  width: 100px;
  height: 100%;
  background-color: #ffc400;
  position: fixed;
  left: 90px;
  z-index: 10;
}

.inpormation-text1 {
  margin: 30px;
  font-family: 'Nanum Myeongjo', serif;
}

.another-font {
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  display: inline;
  color: rgb(255, 252, 252);
}

#beersize {
  padding-left: 90px;
}

/* -------------------------------------------CASS css--------------------------------------------------- */
#cass-main {
  position: relative;
  line-height: 45px;
}

.cass-banner-img {
  background-image: url(../img/beerpart/CASS-BANNER.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: absolute;
  left: 240px;
}

.cass-inpormation-img {
  background-image: url(../img/beerpart/CASS-INPO2.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 600px;
  left: 240px;
  width: 100%;
  height: 1708px;
}

.cass-inpormation {
  position: absolute;
  left: 910px;
  top: 1030px;
  font-size: 1.4rem;
  color: aliceblue;
}

.cass-inpormation-text2 {
  position: absolute;
  top: 1600px;
  left: 410px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.sheep {
  position: absolute;
  top: 1750px;
  left: 410px;
  width: 300px;
}

.mektea {
  position: absolute;
  top: 1750px;
  left: 810px;
  width: 300px;
}

.chicken1 {
  position: absolute;
  top: 1750px;
  right: -125px;
  width: 300px;
  height: 300px;
}

.cass-food-text1 {
  position: absolute;
  top: 2090px;
  left: 490px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.cass-food-text2 {
  position: absolute;
  top: 2090px;
  left: 865px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.cass-food-text3 {
  position: absolute;
  top: 2090px;
  right: -20px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* ----------------------------------------------TERRA css------------------------------------------------------ */
#terra-main {
  position: relative;
  line-height: 45px;
}

.terra-banner-img {
  background-image: url(../img/beerpart/TERRA-BANNER.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 240px;
  width: 100%;
  height: 680px;
}

.terra-inpormation-img {
  background-image: url(../img/beerpart/TERRA-INPO.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 620px;
  left: 240px;
  width: 100%;
  height: 1687px;
}

.terra-inpormation {
  position: absolute;
  left: 900px;
  top: 930px;
  font-size: 1.5rem;
  color: aliceblue;
}

.terra-inpormation-text2 {
  position: absolute;
  top: 1600px;
  left: 355px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.dried {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1760px;
  left: 405px;
}

.nachos {
  position: absolute;
  top: 1760px;
  left: 803px;
  width: 300px;
  height: 300px;
}

.fish {
  position: absolute;
  top: 1760px;
  right: -125px;
  width: 300px;
  height: 300px;
}

.terra-food-text1 {
  position: absolute;
  top: 2130px;
  left: 460px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.terra-food-text2 {
  position: absolute;
  top: 2130px;
  left: 905px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.terra-food-text3 {
  position: absolute;
  top: 2130px;
  right: -5px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* ----------------------------------------------------STOUT css---------------------------------------------------------- */
#stout-main {
  position: relative;
  line-height: 45px;
}

.stout-banner-img {
  background-image: url(../img/beerpart/STOUT-BANNER.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 240px;
  top: 0px;
  width: 100%;
  height: 700px;
}

.stout-inpormation-img {
  background-image: url(../img/beerpart/STOUT-INPO.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 620px;
  left: 240px;
  width: 100%;
  height: 1689px;
}

.stout-inpormation {
  position: absolute;
  left: 905px;
  top: 1020px;
  font-size: 1.5rem;
  color: aliceblue;
}

.stout-inpormation-text2 {
  position: absolute;
  top: 1600px;
  left: 415px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.chicken {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1760px;
  left: 415px;
}

.French-fries {
  position: absolute;
  top: 1760px;
  left: 805px;
  width: 300px;
}

.sheepp {
  position: absolute;
  top: 1760px;
  right: -120px;
  width: 300px;
  height: 300px;
}

.stout-food-text1 {
  position: absolute;
  top: 2130px;
  left: 505px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.stout-food-text2 {
  position: absolute;
  top: 2130px;
  left: 865px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.stout-food-text3 {
  position: absolute;
  top: 2130px;
  right: -40px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* ------------------------------------------------------GONPYO css------------------------------------------------------- */
#gompyo-main {
  position: relative;
  line-height: 45px;
}

.gompyo-banner-img {
  background-image: url(../img/beerpart/GOMPYO-BANNER.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 240px;
  width: 100%;
  height: 650px;
}

.gompyo-inpormation-img {
  background-image: url(../img/beerpart/GOMPYO-INPO.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 600px;
  left: 240px;
  width: 100%;
  height: 1708px;
}

.gompyo-inpormation {
  position: absolute;
  left: 500px;
  top: 450px;
  font-size: 1.5rem;
  color: aliceblue;
}

.gompyo-inpormation-text2 {
  position: absolute;
  top: 1600px;
  left: 405px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.pasta {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1750px;
  left: 405px;
}

.어묵탕 {
  position: absolute;
  top: 1750px;
  left: 810px;
  width: 300px;
}

.shrimp {
  position: absolute;
  top: 1750px;
  right: -135px;
  width: 300px;
  height: 300px;
}

.gompyo-food-text1 {
  position: absolute;
  top: 2110px;
  left: 435px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.gompyo-food-text2 {
  position: absolute;
  top: 2110px;
  left: 890px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.gompyo-food-text3 {
  position: absolute;
  top: 2110px;
  right: -75px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* --------------------------------------------------SEOUL css-------------------------------------------------------- */

#seoul-main {
  position: relative;
  line-height: 45px;
}

.seoul-banner-img {
  background-image: url(../img/beerpart/SEOUL-1983\ BANNER2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 00px;
  left: 240px;
}

.seoul-inpormation-img {
  background-image: url(../img/beerpart/SEOUL-1983\ INPO.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 625px;
  left: 240px;
  width: 100%;
  height: 1682px;
}

.seoul-inpormation {
  position: absolute;
  left: 1040px;
  top: 960px;
  font-size: 1.5rem;
  color: aliceblue;
}

.seoul-inpormation-text2 {
  position: absolute;
  top: 1600px;
  left: 400px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.steak {
  position: absolute;
  top: 1740px;
  left: 400px;
  width: 300px;
  height: 300px;
}

.sausages {
  position: absolute;
  top: 1740px;
  left: 805px;
  width: 300px;
  height: 300px;
}

.emmental {
  position: absolute;
  top: 1740px;
  right: -130px;
  width: 300px;
  height: 300px;
}

.seoul-food-text1 {
  position: absolute;
  top: 2120px;
  left: 455px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.seoul-food-text2 {
  position: absolute;
  top: 2120px;
  left: 885px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.seoul-food-text3 {
  position: absolute;
  top: 2120px;
  right: -105px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

/* -------------------------------------------------------HANGANG css-------------------------------------------------------- */
#hangang-main {
  position: relative;
  line-height: 45px;
}

.hangang-banner-img {
  background-image: url(../img/beerpart/HANGANG-BANNER.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  left: 240px;
  width: 100%;
  height: 700px;
}

.hangang-inpormation-img {
  background-image: url(../img/beerpart/HANGANG-INPO.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 630px;
  left: 240px;
  width: 100%;
  height: 1679px;
}

.hangang-inpormation {
  position: absolute;
  left: 850px;
  top: 860px;
  font-size: 1.5rem;
  color: aliceblue;
}

.hangang-inpormation-text2 {
  position: absolute;
  top: 1600px;
  left: 400px;
  font-size: 4rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.crab {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 1750px;
  left: 400px;
}

.orange {
  position: absolute;
  top: 1750px;
  left: 805px;
  width: 300px;
}

.camembert {
  position: absolute;
  top: 1750px;
  right: -135px;
  width: 300px;
  height: 300px;
}

.hangang-food-text1 {
  position: absolute;
  top: 2110px;
  left: 475px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.hangang-food-text2 {
  position: absolute;
  top: 2120px;
  left: 815px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}

.hangang-food-text3 {
  position: absolute;
  top: 2110px;
  right: -133px;
  font-size: 3rem;
  font-family: 'Nanum Myeongjo', serif;
  font-style: normal;
  font-weight: 500;
  color: aliceblue;
}