/* 소주 파트에서 쓰일 스타일은 여기에~ */

@font-face {
  font-family: sandoll-achim, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-family: sandoll-achim, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-family: sandoll-achim, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-family: sandoll-myeongjoneo1, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-family: sandoll-myeongjoneo1, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: sandoll-myeongjoneo1, sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url();
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 200px);
  height: 100%;
  position: relative;
  /* background-color: aquamarine; */
}

a {
  text-decoration: none;
  color: black;
}

#wrap {
  width: 100%;
  height: 3030px;
}

/* nav layout */
#soju_menu {
  width: 200px;
  height: 1080px;
  position: fixed;
  right: 0;
  z-index: 10;
}

.soju_nav{
  position: absolute;
  width: 100px;
  height: 100%;
}

.nav1 {
  background-image: url('../img/main_page/L.png');
  background-repeat: no-repeat;
  background-position: left top;
  right: 0;
}

.nav2 {
  background-color: #4D7353;
}

.soju_logo {
  display: inline-block;
  width: 90px;
  height: 100px;
  background-image: url('../img/logo/LOGO_WHITE.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.soju_icon {
  width: 100px;
  height: 100px;
}

/* main header layout */
#soju_main_header {
  font-family: sandoll-myeongjoneo1, sans-serif;
  font-weight: 500;
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: white;
  line-height: 50px;
  top: 580px;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

#soju_main_header div {
  margin: 0 auto;
  width: 1000px;
}

#soju_main_header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#soju_main_header ul li {
  margin: 0 auto;
}

/*main layout */
.soju_head {
  height: 580px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.soju_mid {
  margin-top: 50px;
  height: 800px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.soju_bottom {
  height: 800px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* p1 banner img */
.p1_home {
  background-image: url('../img/soju_part/fresh/home.png');
  background-position: center center;
}

.p1_about {
  height: 750px;
  background-image: url('../img/soju_part/fresh/about.png');
}

.p1_alcohol{
  height: 850px;
  background-image: url('../img/soju_part/fresh/alcohol.png');
}

.p1_product {
  background-image: url('../img/soju_part/fresh/product.png');
}

/* p2 banner img */
.p2_home {
  background-image: url('../img/soju_part/jinro/BANNER.png');
}

.p2_about {
  background-image: url('../img/soju_part/jinro/ABOUT.png');
}

.p2_alcohol{
  background-image: url('../img/soju_part/jinro/alcohol.png');
}

.p2_product {
  background-image: url('../img/soju_part/jinro/PRODUCT.png');
}

/* p3 banner img */
.p3_home {
  background-image: url('../img/soju_part/cheoum/banner.png');
}

.p3_about {
  background-image: url('../img/soju_part/cheoum/about.png');
}

.p3_alcohol{
  background-image: url('../img/soju_part/cheoum/alcohol.png');
}

.p3_product {
  background-image: url('../img/soju_part/cheoum/product.png');
}

/* p4 banner img */
.p4_home {
  background-image: url('../img/soju_part/deaseon/home.jpg');
}

.p4_about {
  background-image: url('../img/soju_part/deaseon/about.jpg');
  background-position: right center;
}

.p4_alcohol{
  background-image: url('../img/soju_part/deaseon/alcohol.png');
  background-position: right center;
}

.p4_product {
  background-image: url('../img/soju_part/deaseon/product.png');
  background-position: right center;
}

/* p5 banner img */
.p5_home {
  background-image: url('../img/soju_part/hwayo/home.png');
}

.p5_about {
  background-image: url('../img/soju_part/hwayo/about.png');
  background-position: right center;
}

.p5_alcohol{
  background-image: url('../img/soju_part/hwayo/alcohol.png');
  background-position: right center;
}

.p5_product {
  background-image: url('../img/soju_part/hwayo/product.png');
  background-position: right center;
}

/* p6 banner img */
.p6_home {
  background-image: url('../img/soju_part/wonsoju/home.jpg');
}

.p6_about {
  background-image: url('../img/soju_part/wonsoju/about.jpg');
}

.p6_alcohol{
  background-image: url('../img/soju_part/wonsoju/alcohol.jpg');
}

.p6_product {
  background-image: url('../img/soju_part/wonsoju/product.png');
  background-position: right center;
}